<div th:fragment="fileUpload" class="file-upload">

    <button id="drop-zone" class="drop-zone"
            onclick="document.getElementById('fileInput').click();" >
        <h2>圖檔上傳區</h2>
        <p>點擊選取圖檔路徑 或 拖曳圖檔到此<br/>
            (格式僅支援: jpg, jpeg, png)</p>
    </button>
    <br/>
    <input type="file" id="fileInput" multiple style="display:none;">
    <button class="pure-button button-red file-input-button"
            onclick="document.getElementById('fileInput').click();" >選取圖檔路徑</button>
</div>
