<div th:fragment="fileWatcher" class="file-watcher">
    <div class="file-watcher-zone">
        <ul id="file-list"></ul>
    </div>
    <div class="button-container">
        <button class="pure-button button-red file-watcher-download-button" id="file-watcher-download-button">
            <img src="/image/icon_list.png" alt="icon_list" />
            下載關鍵字csv
        </button>
        <button class="pure-button button-red file-watcher-delete-button" id="file-watcher-delete-button">
            <img src="/image/icon_upload.png" alt="icon_upload" />
            清空
        </button>
    </div>
</div>
