.drop-zone {
    height: 70vh;
    min-width: 100%;
    text-align: center;
    color: white;
    background-color: #999999;
    cursor: grab;
    border: none;
}

.drop-zone:hover {
    background-color: #838383;
}

.drop-zone:hover h2 {
    background-color: #838383;
}

.drop-zone p {
    margin: 0;
    color: white;
}

.drop-zone h2 {
    position: sticky;
    top: 0;
    background-color: #999999;
    color: white;
    z-index: 2;
    margin: 0;
    border-left-width: 70px;
    border-right-width: 70px;
}

.file-input-button {
    margin-top: 5px;
    min-width: 100%;
}

.file-upload {
    flex-grow: 2;
}

.language-switch {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

.flag-icon {
    height: 20px;
    width: 30px;
    margin-right: 10px;
    background-size: cover;
    vertical-align: middle;
}

.flag-en { background-image: url('#path_to_english_flag.png'); }
.flag-zh { background-image: url('#path_to_chinese_flag.png'); }