.drop-zone {
    height: 70vh;
    min-width: 100%;
    text-align: center;
    color: white;
    background-color: #C3C3C3;
    cursor: grab;
    border: none;
}

.drop-zone:hover {
    background-color: #888888;
}

.drop-zone:hover h2 {
    background-color: #888888;
}

.drop-zone p {
    margin: 0;
    color: white;
}

.drop-zone h2 {
    position: sticky;
    top: 0;
    background-color: #C3C3C3;
    color: white;
    z-index: 2;
    margin: 0;
    border-left-width: 70px;
    border-right-width: 70px;
}

.file-input-button {
    margin-top: 5px;
    min-width: 100%;
}

.file-upload {
    flex-grow: 2;
}